/* Hide the number input arrows in Webkit-based browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

