/* Hide the number input arrows in Webkit-based browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* CSS to hide scrollbars but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  scrollbar-width: none;
  /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

.background {
  animation: bganimate 15s linear infinite;
  background: linear-gradient(45deg, #D9D9D9, #0f1f74);
  background-size: 400% 400%;
}

@keyframes bganimate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.contact-us {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.5em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.contact-us span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.contact-us svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.contact-us:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact-us:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact-us:hover span {
  transform: translateX(10em);
}

.contact-us:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}










.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
}

.sun-moon {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider .sun-moon {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px); 
  background-color: white;
}

.moon-dot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
}

input:checked + .slider .sun-moon .moon-dot {
  opacity: 1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px; 
}

.slider.round .sun-moon {
  border-radius: 50%;
}

#moon-dot-1 {
  left: 8px;
  top: 2px; 
  position: absolute;
  width: 5px;
  height: 5px;
  z-index: 4;
}

#moon-dot-2 {
  left: 1px;
  top: 8px;
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 4;
}

#moon-dot-3 {
  left: 13px;
  top: 15px;
  position: absolute;
  width: 2px;
  height: 2px;
  z-index: 4;
}

#light-ray-1 {
  left: -5px;
  top: -5px; 
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-2 {
  left: -40%;
  top: -40%;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-3 {
  left: -12px;
  top: -12px;
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

.cloud-light {
  position: absolute;
  fill: #eee;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cloud-dark {
  position: absolute;
  fill: #ccc;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#cloud-1 {
  left: 22px;
  top: 10px;
  width: 30px;
}

#cloud-2 {
  left: 32px;
  top: 8px;
  width: 16px;
}

#cloud-3 {
  left: 14px;
  top: 18px;
  width: 22px;
}

#cloud-4 {
  left: 28px;
  top: 14px;
  width: 32px;
}

#cloud-5 {
  left: 38px;
  top: 10px;
  width: 16px;
}

#cloud-6 {
  left: 18px;
  top: 20px;
  width: 22px
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-24px);
  opacity: 0;
  transition: 0.4s;
}

.star {
  fill: white;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  animation-name: star-twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

input:checked + .slider .stars {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#star-1 {
  width: 16px;
  top: 1px;
  left: 2px;
  animation-delay: 0.3s;
}

#star-2 {
  width: 5px;
  top: 12px;
  left: 3px;
}

#star-3 {
  width: 10px; 
  top: 16px;
  left: 8px;
  animation-delay: 0.6s;
}

#star-4 {
  width: 15px;
  top: 0px;
  left: 16px;
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}